{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" type="text/css" href="{% static 'css/maindash.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.jpg' %}">
        <title>Bytesports - Dashboard</title>
    </head>
    <body>
        <nav id='nav-style' class='navbar'>
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    </button>
                    <a style="text-decoration: none;
    color: white;" class="font-bar navbar-brand" href="#">Bytesports</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-right">
                        <a href="#"><span class="icon-bar fa fa-map-o fa-lg fa-inverse"></span></a>
                        <a href="/create_match"><span class="icon-bar fa fa-plus-square fa-lg fa-inverse"></span></a>
                        <a href="/home"><span class="icon-bar fa fa-home fa-lg fa-inverse"></span></a>
                        <img class='img-profile' src="{% static 'img/profile-img.jpg' %}">
                        <a class="no-link user-name" href="#">Santiago</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Empieza el cuerpo de la aplicacion -->
        <div class="container match">
            <br>
            <!--
            <div class="input-group">
                <span class="input-group-addon">Team name</span>
                <input type="text" class="form-control">
            </div>
            <br>
            
            <div class="input-group">
                <span class="input-group-addon">Field name</span>
                <input type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Max players</span>
                <input type="text" class="form-control" placeholder="5">
            </div>
            -->
            <!--IMPRIMIMOS NUESTRO FORMULARIO CON LOS TAGS DE DJANGO-->
            <form class="form-match text-center" action="save_match" method="POST">
              <!--Siempre los forms tienen que mandar un tocken de tipo csrf de la siguiente manera:-->
              {% csrf_token %}
              <!--Imprimimos el form ...checa la documentacion para mas formatos-->
              {{ form }}
              <!--Boton para submit-->
              <br>
              <br>
              <input type="submit" value="Register Match" />
            </form>
            <br>
        </div>


<!--         <div class="container">
            <div class="col-md-12">
                <a href="#">
                    <div class="join-button center-block">
                        <h2 style="padding-left: 20px; padding-top: 5px;">Create party</h2>
                    </div>
                    </a>

            </div>
        </div>
 -->
        <br>
        <br>
        <br>



      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static 'js/bootstrap.min.js'%}"></script>
  </body>
</html>