<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<title>Bytesports</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<!-- contenedor del above defold -->
	<div class="above-defold">
		<nav id='nav-style' class='navbar'>
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
	    		<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        	<span class="sr-only">Toggle navigation</span>
						<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		      		</button>
	      			<a style="text-decoration: none;
	color: white;" class="font-bar navbar-brand" href="#">Bytesports</a>
	    		</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="navbar-right">
						<a class="option-bar font-bar no-link navbar-brand" href="#">Matches</a>
						<a class="option-bar font-bar no-link navbar-brand" href="#">Tournaments</a>
						<a class="font-bar no-link navbar-brand" href="#">Fields</a>
					</div>
				</div>
	    	</div>
		</nav>

		<div class="container">
			<div class="row col-md-7">
				<h1>Play wherever you want <br> get what you want</h1>
			</div>
			<div class="login-style row col-md-5">
				  	<div class="login-box">
				   		<div class="lb-header">
				    		<a href="#" class="active" id="login-box-link">Login</a>
				      		<a href="#" id="signup-box-link">Sign Up</a>
				    	</div>
				    	<div class="social-login">
				      		<a href="#">
				        		<i class="fa fa-facebook fa-lg"></i>
				        		with Facebook
				      		</a>
				      	<a href="#">
				        	<i class="fa fa-google-plus fa-lg"></i>
				        	with Google
				      	</a>
				    	</div>
				    	<form class="email-login">
				      		<div class="u-form-group">
				        		<input type="email" placeholder="Email"/>
				      		</div>
				      		<div class="u-form-group">
				        		<input type="password" placeholder="Password"/>
				      		</div>
				      		<div class="u-form-group">
				        		<button>Log in</button>
				      		</div>
				      		<div class="u-form-group">
				        		<a href="#" class="forgot-password">Forgot password?</a>
				      		</div>
				    	</form>
				    	<form class="email-signup">
				      		<div class="u-form-group">
				        		<input type="email" placeholder="Email"/>
				      		</div>
				      		<div class="u-form-group">
				        		<input type="password" placeholder="Password"/>
				      		</div>
				      		<div class="u-form-group">
				        		<input type="password" placeholder="Confirm Password"/>
				      		</div>
				      		<div class="u-form-group">
				        		<button>Sign Up</button>
				      		</div>
				    	</form>
				  	</div>


			</div>

		</div>

	</div>
	<!-- Finaliza el contenedor del above-defold -->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>


<!-- Inteligencia colectiva, imagina poder conectar a todas las escuelas posibles compartiendo material digital: presentaciones, fotos, documentos de texto, pdf's, e-books, y notas. Posibilitando asi a todos los estudiantes de primaria, secundaria, preparatoria y universidad aprender no solo de los maestros, si no de ellos mismos y fortaleciendo asi el conocimiento y haciendolo progresar y evolucionar como comunidad global -->